#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#quote-box {
  background-color: white;
  padding: 10pt;
  margin: 10pt;
  border: 2px solid black;
  border-radius: 10pt;
  color: black;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    #new-quote {
      padding: 5pt 10pt;
      border-radius: 10pt;
      background-color: white;
    }
    #new-quote:hover {
      background-color: lightgray;
    }

    #tweet-quote {
      font-style: italic;
      font-weight: lighter;
    }
    #tweet-quote:hover {
      text-decoration: underline;
    }
  }

  #text {
    font-size: 20pt;
    font-weight: bold;
  }

  #author {
    font-style: italic;
    font-size: 16pt;
  }
}